@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&family=Martian+Mono&display=swap");

:root {
  --main-green: #a5c920;
  --main-dark: #1c1c1c;
  --main-white: #fff;
  --main-black: #000;
  --main-fontf: Inter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/layer_main.png");
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--main-dark);
  margin-top: 20px;
  font-family: var(--main-fontf);
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.advert__nav {
  max-width: 975px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advert__header-elwrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.advert__btn-location {
  position: relative;
  font-weight: 800;
  font-size: 23px;
  z-index: 2;
}

.advert__btn img {
  width: 21px;
  height: 30px;
  margin-right: 12.5px;
  position: relative;
  z-index: 2;
}

.advert__btn-span {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  padding: 11px 24px;
}

.advert__btn-span::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #a5c920;
  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.advert__place-left {
  color: var(--main-white);
  font-family: var(--main-fontf);
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/* MAIN */

.advert__main-top-popup-first {
  max-width: 355px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: fixed;
  top: -25%;
  left: 38%;
  text-align: center;
  padding: 0px 30px;
  background-color: var(--main-green);
  z-index: 2;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 14px 0px var(--main-green);
  transition: 1s;
  padding: 5px 15px;
}

.advert__main-top-popup-first img {
  max-width: 75px;
  width: 100%;
  border-radius: 6px;
  margin-right: 10px;
}

.advert__main-top-popup-first div {
  text-align: start;
}

.advert__main-top-popup-second {
  max-width: 355px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: fixed;
  top: -25%;
  left: 38%;
  text-align: center;
  padding: 0px 30px;
  background-color: yellow;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  box-shadow: 0px 0px 14px 0px yellow;
  transition: 1s;
}

.advert__main-top-popup-second img {
  max-width: 75px;
  width: 100%;
  border-radius: 6px;
  margin-right: 10px;
}

.advert__main-top-popup-second div {
  text-align: start;
}

.advert__main-popup {
  max-width: 430px;
  height: 400px;
  width: 100%;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0px 30px;
  background-color: var(--main-white);
  z-index: 10;
  padding: 60px 50px 0px 50px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advert__br-delete2,
.advert__br-delete3 {
  display: none;
}

.advert__main-popup form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-top: 12%;
}

.advert__main-popup form>div {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.advert__main-popup img {
  border-radius: 3px;
  margin-right: 1%;
}

.advert__main-popup i {
  color: #8e8e8e;
  margin-right: 1%;
}

.advert__main-popup h2 {
  font-family: var(--main-fontf);
  font-size: 37px;
}

.advert__main-popup p {
  font-family: var(--main-fontf);
  font-size: 14px;
  color: #343434;
}

.advert__main-popup input {
  width: 100%;
  border: none;
  outline: none;
  color: #616161;
  font-size: 20px;
}

.advert__main-popup form>div>p {
  font-size: 20px;
  color: #8e8e8e;
}

.advert__main-number-input {
  border: none !important;
  margin-left: 5px;
}

.advert__main-number-input::-webkit-outer-spin-button,
.advert__main-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.advert__main-name-label {
  font-family: var(--main-fontf);
  font-size: 18px;
  color: #8e8e8e;
  font-size: 21px;
  position: absolute;
  top: -3px;
  left: -1px;
}

.advert__input-underline-frst {
  height: 2px;
  width: 100%;
  border: none;
  color: #a4a4a4;
  background-color: #a4a4a4;
  bottom: -30%;
}

.advert__input-underline-second {
  height: 2px;
  width: 100%;
  border: none;
  color: #a4a4a4;
  background-color: #a4a4a4;
  position: absolute;
  bottom: -30%;
}

.advert__popup-submit {
  width: 100%;
  height: 60px;
  margin-top: 13%;
  border-radius: 50px;
  background-color: var(--main-green);
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-fontf);
  color: var(--main-white);
  border: none;
  cursor: pointer;
  border: 2px solid transparent;
}

.advert__popup-submit:hover {
  border: 2px solid var(--main-green);
  background-color: transparent;
  color: var(--main-dark);
}

.advert__main-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000080;
  z-index: 9;
  backdrop-filter: blur(7px);
  pointer-events: none;
  transition: 0.5s;
  opacity: 0;
}

.advert__main-overlay button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: grid;
  place-items: center;
  z-index: 10;
  background-color: transparent;
  border: none;
}

.advert__main-overlay i {
  color: var(--main-black);
  font-size: 30px;
  z-index: 10;
}

.advert__main-overlay i {
  color: var(--main-white);
  font-size: 30px;
  cursor: pointer;
}

.advert__main-infoimg {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
}

.advert_main-info-top {
  margin-bottom: 40px;
}

.advert_media-br {
  display: none;
}

.advert_main-info-span {
  white-space: nowrap;
}

.advert_main-info-span2 {
  white-space: nowrap;
}

.advert_main-info p {
  color: var(--main-white);
  font-family: var(--main-fontf);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.advert_main-info h1 {
  color: var(--main-white);
  font-family: var(--main-fontf);
  font-size: 43px;
  font-style: normal;
  font-weight: 800;
  line-height: 65px;
}

/* .advert_main-btn {
  width: 359px;
  height: 67px;
  border-radius: 30px;
  background: var(--main-green);
  color: var(--main-dark);
  margin-left: 10px;
  font-family: var(--main-fontf);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  box-shadow: -1px 2px 5px 5px var(--main-green);
} */

.advert_main-info-top-span {
  position: relative;
  padding: 7px 17px 11px 22px;
  color: var(--main-black);
}

.advert_main-info-top-span::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  border-radius: 30px;
  background: #a5c920;
  filter: blur(3.5px);
  top: 0;
  left: 0;
  z-index: -1;
}

.advert__moreinfo {
  max-width: 579px;
  max-height: 250px;
  height: 100%;
  border-radius: 10px;
  border: 3px solid var(--main-white);
  padding: 31px 0px 23px 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: inherit;
  z-index: 5;
}

.advert__moreinfo-fist-span {
  padding: 2px 5px;
  color: var(--main-black);
  position: relative;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.advert__moreinfo-fist-span::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--main-green);
  filter: blur(2px);
  margin-top: 1px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.advert_media-none1,
.advert_media-none2,
.advert_media-none4 {
  display: none;
}

.advert__moreinfo-third-span {
  position: relative;
  padding: 1px 1px;
  color: var(--main-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 2px 4px;
}

.advert__moreinfo-third-span::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--main-green);
  filter: blur(2px);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.advert__moreinfo-fist,
.advert__moreinfo-second,
.advert__moreinfo-third {
  display: flex;
  align-items: center;
}

.advert__moreinfo-fist-border {
  margin-right: 15px;
  width: 7px;
  height: 78px;
  border-radius: 2px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, #fff 100%);
}

.advert__moreinfo-second-border {
  margin-right: 15px;
  width: 4px;
  height: 37px;
  border-radius: 2px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, #fff 100%);
}

.advert__moreinfo-third-border {
  margin-right: 18px;
  width: 4px;
  height: 48px;
  border-radius: 2px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, #fff 100%);
}

.advert__leader-registration-cover {
  max-width: 579px;
  max-height: 110px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advert__leader {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  margin-top: 5%;
}

.advert__leader::after {
  content: "";
  max-width: 470px;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: -6%;
  right: 0;
  background: linear-gradient(0deg, #1c1c1c 19.31%, rgba(28, 28, 28, 0) 100%);
}

.advert__leader-img {
  max-height: 600px;
  height: 100%;
}

.advert__leader-registration {
  max-width: 427.377px;
  height: 66px;
  width: 100%;
  border-radius: 10px;
  background: var(--main-white);
  color: var(--main-black);
  font-family: var(--main-fontf);
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  outline: none;
  border: none;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.5s;
  margin: 10px 0 0 0;
}

.advert__leader-registration:hover {
  background-color: transparent;
  color: var(--main-white);
  border: 3px solid var(--main-white);
}

/* FOR JS */

.visibility_on {
  visibility: visible;
  transition: 1s;
}

.opacity_on {
  opacity: 1;
  pointer-events: all;
  transition: 1s;
}

.visibility_off {
  visibility: hidden;
}

.opacity_off {
  opacity: 0;
  pointer-events: none;
}

.border-bottom {
  border-bottom: 2px solid red;
}

/* MEDIA */

@media only screen and (max-width: 1240px) {
  .advert_main-info h1 {
    font-size: 39px;
  }
}

@media only screen and (max-width: 1028px) {
  .advert_main-info h1 {
    font-size: 35px;
    line-height: 50px;
  }

  .advert__leader {
    width: 324px;
    height: 360px;
  }
}

@media only screen and (max-width: 935px) {
  .advert__main-top-popup-first {
    left: 35%;
  }
}

@media only screen and (max-width: 856px) {
  .advert__leader-img {
    opacity: 0.8;
    position: absolute;
  }

  .advert_main-info h1 {
    font-size: 27px;
    line-height: 38px;
  }
}

@media only screen and (max-width: 855px) {
  .advert__leader {
    width: 400px;
    height: 420px;
  }

  .advert__leader::after {
    width: 180%;
  }

  .advert_main-info h1 {
    z-index: 1;
    position: relative;
  }

  .advert_main-info h1 {
    font-size: 35px;
    line-height: 50px;
  }

  .advert__moreinfo {
    max-width: 579px;
    width: 92%;
    max-height: 250px;
    height: 100%;
    padding: 16px 0px 23px 14px;
    z-index: 1;
    position: relative;
  }

  .advert__btn-location {
    font-size: 20px;
  }

  .advert__leader {
    width: 324px;
    height: 360px;
  }

  .advert__main-top-popup-first {
    left: 32%;
  }
}

@media only screen and (max-width: 800px) {
  .advert_main-info h1 {
    font-size: 29px;
  }

  .advert__moreinfo-third-span {
    font-size: 18px;
    padding: 0px 4px;
  }

  .advert__btn-span {
    max-width: 140px;
    width: 100%;
  }

  .advert__place-left-p {
    font-size: 17px;
  }

  .advert_media-br {
    display: block;
  }

  .advert__moreinfo {
    max-width: 579px;
    width: 82%;
  }

  .advert_main-info p {
    font-size: 15px;
  }

  .advert__moreinfo-fist-span {
    font-size: 16px;
  }

  .advert__moreinfo {
    height: 47%;
  }

  .advert__moreinfo {
    padding: 16px 0px 16px 15px;
  }

  .advert__place-left {
    font-size: 19px;
  }

  .advert__btn-span {
    padding: 5px 8px;
  }

  .advert__header-elwrapper {
    flex-direction: column;
  }

  .advert__header-elwrapper {
    width: 31%;
  }

  .advert__leader-img {
    max-height: 600px;
    height: 77%;
  }

  .advert__leader::after {
    width: 168%;
    bottom: 16%;
  }

  .advert__btn-span {
    padding: 5px 16px;
  }

  .advert__btn-location {
    font-size: 18px;
  }

  .advert__main-top-popup-first {
    left: 27%;
  }

  .advert__main-top-popup-second {
    left: 27%;
  }

  .advert_main-info-top-span {
    padding: 7px 17px 10px 22px;
  }
}

@media only screen and (max-width: 700px) {
  .advert__nav {
    width: 90%;
  }

  .advert_main-info h1 {
    font-size: 27px;
    line-height: 38px;
  }

  .advert__leader-img {
    opacity: 0.8;
    position: absolute;
  }

  .advert__leader::after {
    width: 168%;
  }

  .advert__moreinfo {
    position: relative;
    z-index: 4;
  }

  .advert__place-left {
    font-size: 23px;
  }

  .advert__btn-span {
    padding: 7px 10px;
  }

  .advert__btn img {
    width: 18px;
    margin-right: 10px;
  }

  .advert__btn-location {
    position: relative;
    font-weight: 800;
    font-size: 21px;
  }

  .advert__logo img {
    width: 100%;
  }

  .advert__main-top-popup-first {
    left: 30%;
    max-width: 340px;
    max-height: 70px;
  }

  .advert__main-top-popup-first img {
    max-width: 52px;
  }

  .advert__main-top-popup-first h3 {
    font-size: 16px;
  }

  .advert__main-top-popup-first p {
    font-size: 13px;
  }

  .advert__main-top-popup-second {
    left: 30%;
    max-width: 340px;
    max-height: 70px;
  }

  .advert__main-top-popup-second img {
    max-width: 52px;
  }

  .advert__main-top-popup-second h3 {
    font-size: 16px;
  }

  .advert__main-top-popup-second p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 540px) {
  .advert__main-popup {
    width: 60%;
    height: 320px;
    padding: 47px 30px 0px 30px;
  }

  .advert__main-popup h2 {
    font-size: 26px;
  }

  .advert__popup-submit {
    margin-top: 10%;
  }

  .advert__popup-submit {
    height: 43px;
    font-size: 22px;
  }
}

@media only screen and (max-width: 460px) {
  .advert__main-popup h2 {
    white-space: nowrap;
    font-size: 22px;
  }
  .advert__main-popup {
    width: 60%;
    height: 280px;
  }
}

@media only screen and (max-width: 540px) {
  .advert__btn-location {
    font-size: 18px;
  }

  .advert__btn img {
    width: 15px;
    margin-right: 7px;
  }
}

@media only screen and (max-width: 515px) {
  .advert_main-info h1 {
    font-size: 24px;
  }

  .advert__moreinfo {
    width: 100%;
  }

  .advert__leader-registration {
    font-size: 23px;
  }

  .advert__moreinfo-third-span {
    font-size: 16px;
  }

  .advert__header-elwrapper {
    width: 37%;
  }

  .advert__btn-span {
    padding: 5px 15px;
  }

  .advert__place-left-p {
    width: 85%;
  }

  .advert__place-left {
    width: 90%;
  }

  .advert__main-top-popup-first {
    max-height: 80px;
    width: 60%;
    height: 60%;
    left: 20%;
  }

  .advert__main-top-popup-first img {
    max-width: 60px;
  }

  .advert__main-top-popup-first p {
    font-size: 14px;
  }

  .advert__main-top-popup-second {
    max-height: 80px;
    width: 60%;
    height: 60%;
    left: 20%;
  }

  .advert__main-top-popup-second img {
    max-width: 60px;
  }

  .advert__main-top-popup-second p {
    font-size: 14px;
  }

  .advert__leader-img {
    right: -20%;
  }

  .advert__leader::after {
    right: -36px;
  }

  .advert__nav {
    width: 110%;
  }

  .advert__btn {
    width: 75%;
  }

  .advert__place-left {
    width: 83%;
  }

  .advert__place-left-p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 460px) {
  .advert__place-left {
    width: 116%;
  }

  .advert__btn img {
    width: 15px;
    margin-right: 2px;
  }

  .advert_main-info h1 {
    font-size: 19px;
    line-height: 23px;
  }

  .advert__leader-registration-cover {
    width: 170%;
  }

  .advert__moreinfo-fist-span {
    font-size: 14px;
  }

  .advert__moreinfo {
    padding: 15px;
  }

  .advert_main-info-top-span {
    padding: 2px 17px 4px 17px;
  }

  .advert_main-info h1 {
    font-size: 20px;
  }

  .advert__moreinfo {
    height: unset;
    gap: 10px;
  }

  .advert__logo img {
    width: 75%;
    margin-left: -15px;
  }

  .advert__moreinfo-fist-span {
    padding: 3px;
  }
}

@media only screen and (max-width: 410px) {
  .advert__btn-span {
    max-width: 140px;
    width: 115%;
  }

  .advert__place-left-p {
    font-size: 14px;
  }

  .advert__btn-location {
    font-size: 16px;
  }

  .advert__btn img {
    width: 14px;
    margin-right: 6px;
  }

  .advert__btn-span::after {
    width: 93%;
  }

  .advert__moreinfo-fist-span {
    font-size: 13px;
  }

  .advert__moreinfo-fist-span::after {
    height: 93%;
  }

  .advert__leader-registration {
    width: 140%;
  }
}

@media only screen and (max-width: 390px) {
  .advert__moreinfo {
    width: 120%;
  }

  .advert__place-left {
    width: 120%;
    font-size: 15px;
  }

  .advert__btn-span {
    padding: 5px 8px;
  }

  .advert__leader-img {
    right: -29%;
  }

  .advert__leader-img {
    height: 60%;
  }

  .advert__leader::after {
    bottom: 25%;
  }

  .advert_main-info-top-span {
    z-index: 4;
  }

  .advert__btn img {
    margin-right: 2.5px;
  }

  .advert__btn-span {
    padding: 5px 5px;
  }
}

@media only screen and (max-width: 360px) {
  .advert__main-popup {
    width: 65%;
  }
} 

@media only screen and (max-width: 350px) {
  .advert__place-left-p {
    font-size: 12px;
  }

  .advert__btn-location {
    font-size: 14px;
  }

  .advert__place-left-p {
    font-size: 10px;
  }

  .advert__btn img {
    margin-right: 3px;
    width: 13px;
  }

  .advert__leader::after {
    right: -20px;
  }

  .advert_main-info h1 {
    font-size: 16px;
  }

  .advert__moreinfo-fist-span {
    font-size: 12px;
    padding: 2px;
  }
}